{% extends 'deals/base.html' %}

{% block content %}
	 <h2>Список всех сделок</h2>
    <table class="table">
			<colgroup>
				<col id="#">				
				<col id="date">
				<col id="stock">
				<col id="price">
				<col id="volume">
				<col id="sum">
			</colgroup>
			<thead class="thead-dark">
				<th scope="col">#</th>
				<th scope="col">Дата</th>
				<th scope="col">Бумага</th>
				<th scope="col">Цена</th>
				<th scope="col">Количество</th>
				<th scope="col">Сумма</th>
			</thead>
			<tbody>
				{% if deals %}
					{% for deal in deals %}
						<tr>
							<td><a href="{% url 'deal_detail' pk=deal.pk %}">R</a></td>
							<td>{{ deal.date_deal }}</td>
							<td>{{ deal.stock }}</td>
							<td>{{ deal.price_deal }}</td>
							<td>{{ deal.volume_deal }}</td>
							<td>{{ deal.sum_deal }}</td>
						</tr>
					{% endfor %}
				{% else %}
					<p>Список сделок пуст!</p>
				{% endif %}
			</tbody>
    </table> 
{% endblock content %}
	
   
